<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        {% if not MY_MONITORING %}
            <div class="navbar-brand header-logo">
                <a href="{% url 'dashboard:index' %}" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Datta Able</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="{% url 'dashboard:index' %}"><span></span></a>
            </div>
        {% endif %}
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>


                <li class="nav-item pcoded-menu-caption">
                    <label>Tables</label>
                </li>
                {% if not MY_MONITORING %}
                    <li data-username="Shop Dashboard Page" 
                        class="nav-item {% if 'shop_index' in segment %} active {% endif %}">
                        <a href="{% url 'dashboard:shop_index' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-shop"></i></span>
                                <span class="pcoded-mtext">Shops</span></a>
                    </li>
                    <li data-username="Shop Dashboard Page" 
                        class="nav-item {% if 'actual_purchase_index' in segment %} active {% endif %}">
                        <a href="{% url 'dashboard:actual_purchase_index' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-shop"></i></span>
                                <span class="pcoded-mtext">Actual Purchases</span></a>
                    </li>
                    <li data-username="Shop Dashboard Page" 
                        class="nav-item {% if 'purchase_history_index' in segment %} active {% endif %}">
                        <a href="{% url 'dashboard:purchase_history_index' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-shop"></i></span>
                                <span class="pcoded-mtext">Purchase History</span></a>
                    </li>
                    <li data-username="Shop Dashboard Page" 
                        class="nav-item {% if 'product_index' in segment %} active {% endif %}">
                        <a href="{% url 'dashboard:product_index' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-shop"></i></span>
                                <span class="pcoded-mtext">Products</span></a>
                    </li>
                {% else %}
                    <li data-username="Shop Dashboard Page" 
                        class="nav-item {% if 'user_index' in segment %} active {% endif %}">
                        <a href="" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-shop"></i></span>
                                <span class="pcoded-mtext">Users</span></a>
                    </li>
                {% endif %}

                <li class="nav-item pcoded-menu-caption">
                    <label>Server list</label>
                </li>
                <li data-username="Charts Morris" 
                    class="nav-item {% if 'monitoring_server0' in segment %} active {% endif %}">
                    <a href="{% url 'monitoring:server0' %}" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Server 0</span></a>
                </li>
                <li data-username="Charts Morris" 
                    class="nav-item {% if 'monitoring_server1' in segment %} active {% endif %}">
                    <a href="{% url 'monitoring:server1' %}" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Server 1</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Action</label>
                </li>


                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{% url 'dashboard_auth:logout' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
