<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        {% if not MY_MONITORING %}
            <div class="navbar-brand header-logo">
                <a href="{% url 'dashboard:welcome' %}" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Dashboard</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="{% url 'dashboard:welcome' %}"><span></span></a>
            </div>
        {% endif %}
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>


                <li class="nav-item pcoded-menu-caption">
                    <label>Tables</label>
                </li>
                <li data-username="Shop Dashboard Page" 
                    class="nav-item {% if 'user_index' in segment %} active {% endif %}">
                    <a href="{% url 'dashboard:user_index' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-shop"></i></span>
                            <span class="pcoded-mtext">Users</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Action</label>
                </li>


                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{% url 'authh:logout' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
