{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static '-registery.css' %}" media="screen">


    <section class="u-clearfix u-image u-section-1" id="sec-fb85" data-image-width="1600" data-image-height="838">
      <form action="" method="post">
        {% csrf_token %}  
        <div class="u-clearfix u-sheet u-sheet-1"><span class="u-file-icon u-icon u-text-palette-1-base u-icon-1"><img src="{% static 'images/747376-e39fca42.png' %}" alt=""></span>
          <h2 class="u-text u-text-body-alt-color u-text-default u-text-1">Member Registery</h2>
          {% if msg %}
              <span class="text-danger" style="margin-left:20%">{{ msg | safe }}</span>
          {% endif %} 
          <div class="u-clearfix u-custom-html u-custom-html-1">
            <input type="text" placeholder="Ведите своё имя" id="username-a30d" name="username" class="u-border-2 u-border-white u-input u-input-1 u-input-rectangle u-input-1" required="">
          </div>
          <div class="u-clearfix u-custom-html u-custom-html-2">
            <input type="text" placeholder="Ведите свою почту" id="username-a30d" name="email" class="u-border-2 u-border-white u-input u-input-1 u-input-rectangle u-input-2" required="">
          </div>
          <div class="u-clearfix u-custom-html u-custom-html-3">
            <input type="password" placeholder="Ведите пароль" id="username-a30d" name="password1" class="u-border-2 u-border-white u-input u-input-1 u-input-rectangle u-input-3" required="">
          </div>
          <div class="u-clearfix u-custom-html u-custom-html-4">
            <input type="password" placeholder="Повтарите пароль" id="username-a30d" name="password2" class="u-border-2 u-border-white u-input u-input-1 u-input-rectangle u-input-4" required="">
          </div>
          <input class="u-border-none u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1" type="submit" value="Зарегистрироваться"/>
        </div>
      </form>
    </section>
    <section class="u-clearfix u-section-2" id="sec-bc2a">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-4923">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    
    
    
    
  {% endblock %}